@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body {
  margin: 20px 0;
  font-family: 'Poppins';
}
.Navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
ul{
  display: flex;
  list-style: none;
}
ul>li{
  margin: 0 20px;
}
.active{
  font-weight: bold
}
.sign>button{
  border: none;
  background-color: #FF9B00;
  color: white;
  font-family: 'Poppins';
  height:50px;
  padding: 10px 50px;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 16px
}
.sign{
  display: flex;
}
.landing{
  display: flex;
  margin: 40px 20px;
}
.landing>div>h2{
  font-size: 60px;
}
.landing>div{
  padding:0 40px;
}
.landing>div>p{
  font-size: 18px;
}
.landing>img{
  width: 50%;
  /* transform: scaleX(-1); */
}
span{
  color: #FF9B00;
}


